@charset "UTF-8";
/* ==========================================
COMMON
========================================== */
body {
	font-size: 14px;
	font-family: Verdana, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	line-height: 1.6;
	background: #fffae6;
	color: #331217;
}

a:link,
a:visited {
	color: #e73434;
	text-decoration: none;
}

a:hover,
a:active {
	color: #a61423;
}

.inner {
	width: 980px;
	margin: 0 auto;
	position: relative;
}

.inner_2 {
	width: 880px;
	margin: 0 auto;
	position: relative;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: block;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom:1;
}

/* ==========================================
HEADER
========================================== */
#visual {
	background: url(../images/key_visual.jpg) top center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 120px;
}

#visual h2 {
	padding-top: 100px;
}

#header {
	padding: 25px 0;
}

#header .logo {
	float: left;
}

#global_nav {
	float: right;
	width: 600px;
}

#global_nav ul {
	overflow: hidden;
}

#global_nav ul li {
	float: left;
	margin-right: 64px;
}

#global_nav ul li a {
	display: block;
}

#global_nav ul li a span {
	display: block;
	font-size: 10px;
	font-family: 'Lato', sans-serif;
}

/* =========================================================
content
========================================================= */
.home h3 {
	font-size: 36px;
	color: #e73434;
	margin: 30px 0;
	font-family: 'Lato', sans-serif;
	letter-spacing: 5px;
}

#service {
	margin-bottom: 40px;
}

#service ul {
	overflow: hidden;
}

#service ul li {
	float: left;
	width: 270px;
	margin-right: 35px;
}

#service ul li:last-child {
	margin-right: 0;
}

#service ul li h4 {
	color: #e73434;
	margin-bottom: 10px;
	font-size: 16px;
}

#service ul li img {
	margin-bottom: 10px;
}

#service ul li p {
	line-height: 1.7;
}

#news {
	margin-bottom: 40px;
}

#news dl {
	border-left: 3px solid #e73434;
	padding-left: 17px;
}

#news dl dt {
}

#news dl dd {
	margin-left: 8em;
	margin-top: -1.6em;
	margin-bottom: 10px;
}

#shop_information {
	padding: 30px 0;
	background: url(../images/bg_top_pattern.png);
}

#shop_information ul {
	overflow: hidden;
	margin-right: -30px;
}

#shop_information ul li {
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
}

#footer {
	background: #e73434;
	padding: 30px 0;
	font-size: 12px;
}

#footer_nav {
	float: left;
	width: 600px;
}

#footer_nav ul {
	overflow: hidden;
}

#footer_nav ul li {
	float: left;
	margin-right: 30px;

}

#footer_nav ul li a {
	display: block;
	color: #fff;
}

#footer_nav ul li a {
	display: block;
	color: #fff;
}

#footer_nav ul li a:hover {
	color: #fff;
	text-decoration: underline;
}

#footer p {
	text-align: right;
	color: #fff;

}

#footer p small {
}

#footer .pagetop {
	position: absolute;
	top: -55px;
	right: 0;
}

#footer .pagetop a {
	display: block;
	color: #fff;
	background: #e73434;
	width: 60px;
	text-align: center;
	padding: 5px;
}
